<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TESTNG_KEYWORDS.ENABLED"/>
      <class name="TESTNG_KEYWORDS.TIMEOUT"/>
      <class name="TESTNG_KEYWORDS.EXPECTEDEXCEPTIONS"/>
      <class name="TESTNG_KEYWORDS.GROUPS"/>
      <class name="TESTNG_KEYWORDS.INVOCATIONCOUNT"/>
      <class name="TESTNG_KEYWORDS.KEYWORD1"/>
      <class name="TESTNG_KEYWORDS.PRIORITY"/>
      <class name="TESTNG_KEYWORDS.EXPECTEDEX"/>
      <class name="TESTNG_KEYWORDS.DEPENDSONMETHODS"/>
      <class name="TESTNG_KEYWORDS.INCLUDE_EXCLUDE_TEST_CASES"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
